:host {
  font-family: 'Roboto', sans-serif;;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.toolbar {
  @apply --layout-horizontal;
  @apply --layout-end-justified;
  background-color: rgba(255, 255, 255, 1);
}

.toolbar > h1 {
  margin-right: auto;
}

.tabs {
  height: 100%;
  @apply --layout-horizontal;
}

.tabs > a {
  @apply --layout-vertical;
  @apply --layout-center-center;
  margin: 12px 16px 12px;
  border-bottom: 1px solid #222;
}

header {
  @apply --layout-vertical;
  @apply --layout-center-center;
  height: 100vh;
  padding: 0 16px;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url('//i.imgur.com/giBUlri.jpg');
  backgrond-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

header h1 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 100%;

}

header p {
  font-size: 28px;
  font-weight: bold;
  width: 100%;
}

header li {
  padding-bottom: 10px;
}

header a {
  color: #29DBC3;
}

header a:hover {
  color: orange;
  text-decoration: none;
}

header ul {
  padding: 0;
  list-style: none;
}

section {
  padding: 88px 16px;
}

.container {
  @apply --layout-horizontal;
  max-width: 800px;
  margin: 0 auto;
}

.container > * {
  @apply --layout-flex;
}

.container img {
  max-width: 100%;
  max-height: 100%;
}

.container h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 24px 0;
}

.container p {
  line-height: 1.5;
}

@media (max-width: 600px) {
  .container {
    @apply --layout-vertical;
  }
}

#map {
  height: 100vh;
  margin: 0;
  padding: 0;
}
